/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db
/phpunit.xml
/.idea
/.vscode
.phpunit.result.cache

*.orig
*.sublime-project
*.sublime-workspace
*.esproj
*.espressostorage
_ide_helper.php
/temp
.php_cs
*.code-workspace
.npmrc